<!DOCTYPE html>
<html lang="en">

<head>
    <title>Payment confirm</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="container-center">
        <div class="row justify-content-center"> 
            <h1 class="mb-5 text-white text-center">Payment confirm</h1>
            <div class="col-lg-6">
                <div class="card position-sticky top-0">
                    <div class="p-3 bg-light bg-opacity-10">
                        <h6 class="card-title mb-3">Order Summary</h6>
                        <div class="d-flex justify-content-between mb-1 small">
                            <span>Your account balance</span> <span class="currency fw-bold text-secondary"><%= transaction.sender.balance %></span>
                        </div>
                        <div class="d-flex justify-content-between mb-1 small">
                            <span>Transaction amount</span> <span class="currency fw-bold text-danger"><%= transaction.amount%></span>
                        </div>
                        <div class="d-flex justify-content-between mb-1 small">
                            <span>Transaction fee</span> <span
                                class="text-success currency text-danger fw-bold">0</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between mb-4 small">
                            <span>TOTAL</span> <strong class="text-dark currency"><%= transaction.amount %></strong>
                        </div>
                        <div class="form-check mb-2 small">
                            <input class="form-check-input" type="checkbox" value="" id="term_of_service">
                            <label class="form-check-label" for="tnc">
                                I agree to the <a href="#">terms and conditions</a>
                            </label>
                            <span class="text-danger fs-6 error-msg-term" style="zoom: .8;"></span>
                        </div>
                        <div class="form-check mb-3 small">
                            <input class="form-check-input" type="checkbox" value="" id="subscribe">
                            <label class="form-check-label" for="subscribe">
                                Get emails about product updates and events. If you change your mind, you can
                                unsubscribe at any time. <a href="#">Privacy Policy</a>
                            </label>
                        </div>
                        <div></div>
                        <a href="/payment/login?callbackUrl=<%=callbackUrl%>&transactionId=<%=transaction.id%>" id="purchase_invoice" class="btn btn-primary w-100 mt-2">Purchase</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#term_of_service").on("change", function(){
            $(".error-msg-term").text("");
        })
        $("#purchase_invoice").on('click', function (e) {
            e.preventDefault();
            if ($("#term_of_service").is(":checked")) {
                window.location.href = $(this).attr("href");
                $(".error-msg-term").text("");
            } else {
                $(".error-msg-term").text("Please accept our term of service");
                return false;
            }
        })
    </script>
</body>

</html>