<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
<%- include('./partials/head'); -%>
    <link rel="stylesheet" href="/public/admin/css/features/account.css">
</head>
<body>
  <div class="container-fluid">
    <%- include('./partials/nav'); -%>
    <div class="container-grid w-95 margin-auto d-grid gap-4">
      <!-- Sidebar Section -->
      <%- include('./partials/sidebar'); -%>
      <!-- End of Sidebar Section -->

      <!-- Main Content -->
      <main> 
        <div class="flex-between-center mb-2">
          <h2 class="">Account management</h2>
        </div>
        <div>
          <%- include('./account/accountList'); -%>
          <%- include('./account/viewAccount'); -%> 
          <%- include('./account/addAccount') %>
          <%- include('./account/deleteAccount'); -%>
          <%- include('./account/banAccount'); -%>
        </div>
      </main>
      <!-- End of Main Content -->


    </div>
  </div>
  <%- include('./partials/script'); -%> 
  <script src="/public/admin/js/main.js"></script>
  <script src="/public/admin/js/account.js"></script>
</body>

</html>