<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
<%- include('./partials/head') -%>
</head>
<body>
  <!-- Page Preloader -->
  <div id="preloader">
    <div class="spinner-box">
      <div class="blue-orbit leo">
      </div>
    
      <div class="green-orbit leo">
      </div>
    
      <div class="red-orbit leo">
      </div>
    
      <div class="white-orbit w1 leo">
      </div>
      <div class="white-orbit w2 leo">
      </div>
      <div class="white-orbit w3 leo">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <%- include('./partials/nav') -%>
    <div class="container-grid w-95 margin-auto d-grid gap-4">
      <!-- Sidebar Section -->
      <%- include('./partials/sidebar') -%>
      <!-- End of Sidebar Section -->

      <!-- Main Content -->
      <main> 
        <div class="flex-between-center mb-2">
          <h2 class="">Category management</h2>
          <div class="manipulation">
            <button class="btn-custom btn-success" data-bs-toggle="modal" data-bs-target="#addNewCategory">Add new</button>
            <%- include('./category/addCategory') %>
          </div>
        </div>
        <div>
          <%- include('./category/categoryList') -%> 
            <%- include('./category/editCategory'); -%>
              <%- include('./category/deleteCategory'); -%>
        </div>
      </main>
      <!-- End of Main Content -->

    </div>
  </div>
  <%- include('./partials/script'); -%>
  <!-- <script src="/public/admin/js/orders.js"></script> -->
  <script src="/public/admin/js/main.js"></script>
  <script src="/public/admin/js/category.js"></script>
</body>

</html>