<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <%- include('./partials/head'); -%>
    <link rel="stylesheet" href="/public/admin/css/features/chart.css">
</head>

<body>
  <!-- Page Preloader -->
  <div id="preloader">
    <div class="spinner-box">
      <div class="blue-orbit leo">
      </div>

      <div class="green-orbit leo">
      </div>

      <div class="red-orbit leo">
      </div>

      <div class="white-orbit w1 leo">
      </div>
      <div class="white-orbit w2 leo">
      </div>
      <div class="white-orbit w3 leo">
      </div>
    </div>
  </div>
  <!-- Toast message -->
  <div id="toast__container"></div>
  <div class="container-fluid">
    <%- include('./partials/nav'); -%>
      <div class="container-grid w-95 margin-auto d-grid gap-4">
        <!-- Sidebar Section -->
        <%- include('./partials/sidebar'); -%>
          <!-- End of Sidebar Section -->

          <!-- Main Content -->
          <main>
            <!-- Analyses -->
            <div class="analyse row mx-0 row-gap-3">
              <div class="analyse__item col-lg-4 col-md-6">
                <div class="analyse__content">
                  <div class="info">
                    <h3>Total Sales</h3>
                    <h1>$65,024</h1>
                  </div>
                  <div class="circle-progress-bar success">
                    <svg>
                      <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                      <p>+81%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="analyse__item col-lg-4 col-md-6">
                <div class="analyse__content">
                  <div class="info">
                    <h3>Site Visit</h3>
                    <h1>24,981</h1>
                  </div>
                  <div class="circle-progress-bar danger">
                    <svg>
                      <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                      <p>-48%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="analyse__item col-lg-4 col-md-6">
                <div class="analyse__content">
                  <div class="info">
                    <h3>Searches</h3>
                    <h1>14,147</h1>
                  </div>
                  <div class="circle-progress-bar primary">
                    <svg>
                      <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                      <p>+21%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of Analyses -->

            <%- include('./dashboard/chart'); -%>

          </main>
          <!-- End of Main Content -->


      </div>
  </div>
  <%- include('./partials/footer'); -%>
    <%- include('./partials/script'); -%>
      <script src="/public/admin/js/main.js"></script>
      <script src="/public/admin/js/dashboard.js"></script>
      <script src="/public/admin/js/chart.js"></script>
</body>

</html>