<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shoe store - Discount</title>
  <%- include('./partials/head'); -%>
</head>

<body>
  <%- include('./partials/nav'); -%>
    <%- include('./partials/preloader'); -%>

      <!-- Breadcrumb Section Begin -->
      <section class="breadcrumb-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                <h2>Discount</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Breadcrumb Section End -->

      <!-- Discount Product Section Begin -->
      <section class="product__discount spad">
        <div class="container">
          <div class="product__discount-wrapper">
            <div class="product__discount__title">
              <h3>Sale off today</h3>
            </div>
            <div class="row mt-2">
              <div id="timer" class="d-flex flex-wrap justify-content-center gap-3 mb-4 w-100" style="user-select: none;">
                <div class="dealing-time text-center" id="days"></div>
                <div class="dealing-time text-center" id="hours"></div>
                <div class="dealing-time text-center" id="minutes"></div>
                <div class="dealing-time text-center" id="seconds"></div>
            </div>
              <div class="product__discount__slider owl-carousel">
                <% saleToday.forEach( e => { %>
                  <div class="mlr05 pt-2 pb-2">
                    <div data-id="<%= e.product.id %>" class="featured__item specific__product ">
                      <div class="featured__item__pic">
                        <img src="<%= e.product.image %>" style="<%= e.product.cat_name === 'Giày cao gót' ? 'object-position: center bottom;' : '' %>" class="image" alt="">
                        <ul class="featured__item__pic__hover">
                          <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span></li>
                          <li><span class="add__to__cart"><i class="fa fa-shopping-cart"></i></span></li>
                        </ul>
                        <div class="product__discount__label">
                          <div class="product__discount__background">
                            <span class="product__discount__percent"><%= e.percent %></span>
                          </div>
                        </div>
                      </div>
                      <a href="/detail?id=<%= e.product.id %>" class="featured__item__text p-3">
                        <p class="limit-line line-2 mb-2"><%= e.product.name %></p>
                        <span class="currency color__primary"><%= e.product.price_discount %></span>
                        <span class="currency product__discount__oldprice mlr05"><%= e.product.price %></span>
                      </a>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Discount Product Section End -->

      <!-- Best seller Section Begin -->
      <section class="spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="product__discount-title">
                <h2>All sell off products</h2>
              </div>
            </div>
          </div>
          <div class="row row-gap-4 mt-3">
            <!-- <div class="col col-lg-3 col-md-4 col-sm-6">
              <div class="featured__item">
                <div class="featured__item__pic">
                  <img src="img/featured/feature-1.jpg" class="image" alt="">
                  <ul class="featured__item__pic__hover">
                    <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span></li>
                    <li><span class="add__to__cart"><i class="fa fa-shopping-cart"></i></span></li>
                  </ul>
                  <div class="product__discount__label">
                    <div class="product__discount__background">
                      <span class="product__discount__percent">35</span>
                    </div>
                  </div>
                </div>
                <a href="details.html" class="featured__item__text p-3">
                  <p class="limit-line line-2 mb-2">Merino to ishite</p>
                  <span class="currency color__primary">300000</span>
                  <span class="currency product__discount__oldprice mlr05">350000</span>
                </a>
              </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6">
              <div class="featured__item">
                <div class="featured__item__pic">
                  <img src="img/featured/feature-1.jpg" class="image" alt="">
                  <ul class="featured__item__pic__hover">
                    <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span></li>
                    <li><span class="add__to__cart"><i class="fa fa-shopping-cart"></i></span></li>
                  </ul>
                  <div class="product__discount__label">
                    <div class="product__discount__background">
                      <span class="product__discount__percent">35</span>
                    </div>
                  </div>
                </div>
                <a href="details.html" class="featured__item__text p-3">
                  <p class="limit-line line-2 mb-2">Merino to ishite am sf sf sewr not fum with antohoder</p>
                  <span class="currency color__primary">300000</span>
                  <span class="currency product__discount__oldprice mlr05">350000</span>
                </a>
              </div>
            </div> -->
            <% sales.forEach( e => { %>
              <div class="col col-lg-3 col-md-4 col-sm-6">
                <div data-id="<%= e.product.id %>" class="featured__item specific__product ">
                  <div class="featured__item__pic">
                    <img src="<%= e.product.image %>" style="<%= e.product.cat_name === 'Giày cao gót' ? 'object-position: center bottom;' : '' %>" class="image" alt="">
                    <ul class="featured__item__pic__hover">
                      <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span></li>
                      <li><span class="add__to__cart"><i class="fa fa-shopping-cart"></i></span></li>
                    </ul>
                    <div class="product__discount__label">
                      <div class="product__discount__background">
                        <span class="product__discount__percent"><%= e.percent %></span>
                      </div>
                    </div>
                  </div>
                  <a href="/detail?id=<%= e.product.id %>" class="featured__item__text p-3">
                    <p class="limit-line line-2 mb-2"><%= e.product.name %></p>
                    <span class="currency color__primary"><%= e.product.price_discount %></span>
                    <span class="currency product__discount__oldprice mlr05"><%= e.product.price %></span>
                  </a>
                </div>
              </div>
            <% }) %>
          </div>
          <div class="product__pagination pt-4 pb-4 text-center">
            <a href="#" class="product__pagination__link disabled"><i class="fa-solid fa-long-arrow-left"></i></a>
            <a href="#" class="product__pagination__link active">1</a>
            <a href="#" class="product__pagination__link">2</a>
            <a href="#" class="product__pagination__link">3</a>
            <a href="#" class="product__pagination__link"><i class="fa-solid fa-long-arrow-right"></i></a>
          </div>
        </div>
      </section>
      <!-- Best seller Section End -->

      <!-- Footer Section -->
      <%- include('./partials/footer'); -%>
        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <%- include('./partials/scripts'); -%>
          <!-- Js Plugins End -->
          <script src="/public/client/js/discount.js"></script>
</body>

</html>