<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shoe store - Favourite</title>
  <%- include('./partials/head'); -%>
</head>

<body>
  <%- include('./partials/nav'); -%>
  <%- include('./partials/preloader'); -%>


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Favourite</h2> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
  <section class="shoping-cart mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered shoping__cart__table text-center shopping__cart__table rounded-3">
            <thead>
              <tr>
                <th>Product info</th>
                <th width="15%">Price</th>  
                <th width="23%">Action</th>
              </tr>
            </thead>
            <tbody id="shopping__cart__list">
              <tr class="shopping__cart__item">
                <td class="shopping__cart__info d-flex">
                  <img class="image" src="img/cart/cart-1.jpg" alt="">
                  <div class="shopping__cart__text d-flex justify-content-between flex-column mlr05">
                    <a href="details.html" class="hover__primary limit-line line-2">Adidas shoe made in Japan Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum corrupti aliquid </a>
                    <div class="shopping__cart__classify">
                      <span>Color: <span class="border border-secondary border-1 rounded-circle background-green"></span></span>
                      <span>Size: XL</span>
                    </div>
                  </div>
                </td>
                <td class="shopping__cart__price">
                  <span class="color__primary currency">300000</span>
                </td> 
                <td>
                  <span class="my-button button-hover-fadeIn rounded-3 fs-7 fw-bold custom-zoom add__product__cart"><i class="fa-solid fa-trash-can"></i>Add to cart</span>
                  <span class="my-button button-hover-fadeIn rounded-3 fs-7 fw-bold custom-zoom delete__product mt-1 ml05"><i class="fa-solid fa-trash-can"></i> Delete</span>
                </td>
              </tr> 
              <tr class="shopping__cart__item">
                <td class="shopping__cart__info d-flex">
                  <img class="image" src="img/cart/cart-1.jpg" alt="">
                  <div class="shopping__cart__text d-flex justify-content-between flex-column mlr05">
                    <a href="details.html" class="hover__primary limit-line line-2">Adidas shoe made in Japan Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum corrupti aliquid </a>
                    <div class="shopping__cart__classify">
                      <span>Color: <span class="border border-secondary border-1 rounded-circle background-yellow"></span></span>
                      <span>Size: S</span>
                    </div>
                  </div>
                </td>
                <td class="shopping__cart__price">
                  <span class="color__primary currency">350000</span>
                </td> 
                <td>
                  <span class="my-button button-hover-fadeIn rounded-3 fs-7 fw-bold custom-zoom add__product__cart"><i class="fa-solid fa-trash-can"></i>Add to cart</span>
                  <span class="my-button button-hover-fadeIn rounded-3 fs-7 fw-bold custom-zoom delete__product mt-1 ml05"><i class="fa-solid fa-trash-can"></i> Delete</span>
                </td>
              </tr> 
              <!-- <tr><td colspan="5" class="text-center"><span>Your favourite list is empty</span></td></tr> -->
            </tbody>
          </table>
        </div>
      </div> 
    </div>
  </section>
  <!-- Shoping Cart Section End -->

   <!-- Footer Section -->
   <%- include('./partials/footer'); -%>
   <!-- Footer Section End -->
 
   <!-- Js Plugins -->
   <%- include('./partials/scripts'); -%> 
   <!-- Js Plugins End -->
</body>

</html>