<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shoe store - Homepage</title>
    <%- include('./partials/head'); -%>
</head>

<body>
    <%- include('./partials/nav'); -%>
        <%- include('./partials/preloader'); -%>

            <!-- Hero Section Begin -->
            <section class="hero pt-4 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="hero__categories">
                                <div class="hero__categories__all">
                                    <i class="fa fa-bars"></i>
                                    <span>Categories</span>
                                </div>
                                <ul>
                                    <li><a href="#">Giày thể thao</a></li>
                                    <li><a href="#">Giày trẻ em</a></li>
                                    <li><a href="#">Giày scandal</a></li>
                                    <li><a href="#">Giày bata</a></li>
                                    <li><a href="#">Giày cao gót</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="hero__item">
                                <img src="https://images.contentstack.io/v3/assets/blt6b512cc60b434656/blt41ee12ee6fd2a716/65a5109371535e0fff4ac468/SS24_CENTENNIAL-OF-SPEED_Homepage-Banner_Contentstack_hero_desktop_livetext.jpg"
                                    alt="" class="image">
                                <div class="hero__text text-white">
                                    <span>Special Offer</span>
                                    <h2 class="text-white">Shoe <br />100% genuine</h2>
                                    <p>Buy anything you like</p>
                                    <a href="shopping.html"
                                        class="my-button button-hover-shake hover-color-primary rounded-pill">SHOP
                                        NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero Section End -->

            <!-- Banner Begin -->
            <div class="banner">
                <div class="container">
                    <div class="row row-gap-2">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="banner__pic">
                                <img class="image"
                                    src="https://i.pinimg.com/originals/fa/45/96/fa4596ad9a9d39901eeb455ed4f74e44.jpg"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="banner__pic">
                                <img class="image"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLb9BosDLOBHj5KUy_1ooQ5ZPmNPoGpXyvA&usqp=CAU"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->

            <!-- Categories Section Begin -->
            <section class="categories spad">
                <div class="container">
                    <div class="row">
                        <div class="section-title">
                            <h2>Popular Brand</h2>
                        </div>
                        <div class="categories__slider owl-carousel">
                            <div class="pt-1 pb-1 mlr05">
                                <div class="categories__item">
                                    <img src="https://logos-world.net/wp-content/uploads/2020/04/Adidas-Logo-1991-present.jpg"
                                        alt="" class="image-contains">
                                </div>
                            </div>
                            <div class="pt-1 pb-1 mlr05">
                                <div class="categories__item">
                                    <img src="https://gudlogo.com/wp-content/uploads/2019/11/gucci-logo-su-hinh-thanh-va-phat-trien.jpg"
                                        alt="" class="image-contains">
                                </div>
                            </div>
                            <div class="pt-1 pb-1 mlr05">
                                <div class="categories__item">
                                    <img src="https://en.leventhastanesi.com.tr/Uploads/Kurumsal/faa7feff-f423-4396-9f2b-03f498c5075d.jpg"
                                        alt="" class="image-contains">
                                </div>
                            </div>
                            <div class="pt-1 pb-1 mlr05">
                                <div class="categories__item">
                                    <img src="https://logohistory.net/wp-content/uploads/2023/02/Nike-Logo.png" alt=""
                                        class="image-contains">
                                </div>
                            </div>
                            <div class="pt-1 pb-1 mlr05">
                                <div class="categories__item">
                                    <img src="https://cdn.freelogovectors.net/wp-content/uploads/2023/05/hugo-boss_logo-freelogovectors.net_.png"
                                        alt="" class="image-contains">
                                </div>
                            </div>
                            <div class="pt-1 pb-1 mlr05">
                                <div class="categories__item">
                                    <img src="https://media.designrush.com/inspirations/129357/conversions/_1513769276_486_Prada-Logo-preview.jpg"
                                        alt="" class="image-contains">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Categories Section End -->

            <!-- Discount Product Section Begin -->
            <section class="product__discount spad">
                <div class="container">
                    <div class="product__discount-wrapper">
                        <div class="section-title">
                            <h2>Best sale off today</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div class="mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-1.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                            <div class="product__discount__label">
                                                <div class="product__discount__background">
                                                    <span class="product__discount__percent">20</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">Merino to ishite</p>
                                            <span class="currency color__primary">650000</span>
                                            <span class="currency product__discount__oldprice mlr05">700000</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-2.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                            <div class="product__discount__label">
                                                <div class="product__discount__background">
                                                    <span class="product__discount__percent">35</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">A new shoe made in Japan from Adidas</p>
                                            <span class="currency color__primary">300000</span>
                                            <span class="currency product__discount__oldprice mlr05">350000</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-4.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                            <div class="product__discount__label">
                                                <div class="product__discount__background">
                                                    <span class="product__discount__percent">35</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">A new shoe made in Japan from Adidas</p>
                                            <span class="currency color__primary">300000</span>
                                            <span class="currency product__discount__oldprice mlr05">350000</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-6.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                            <div class="product__discount__label">
                                                <div class="product__discount__background">
                                                    <span class="product__discount__percent">35</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">A new shoe made in Japan from Adidas</p>
                                            <span class="currency color__primary">300000</span>
                                            <span class="currency product__discount__oldprice mlr05">350000</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-3.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                            <div class="product__discount__label">
                                                <div class="product__discount__background">
                                                    <span class="product__discount__percent">35</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">A new shoe made in Japan from Adidas</p>
                                            <span class="currency color__primary">300000</span>
                                            <span class="currency product__discount__oldprice mlr05">350000</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Discount Product Section End -->

            <!-- Best seller Section Begin -->
            <section class="featured spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2>Best seller</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row row-gap-4">
                        <div class="col col-lg-3 col-md-4 col-sm-6">
                            <div class="featured__item specific__product" data-id="1">
                                <div class="featured__item__pic">
                                    <img src="img/featured/feature-1.jpg" class="image" alt="">
                                    <ul class="featured__item__pic__hover">
                                        <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span></li>
                                        <li><span class="add__to__cart"><i class="fa fa-shopping-cart"></i></span></li>
                                    </ul>
                                </div>
                                <a href="/detail" class="featured__item__text p-3">
                                    <p class="limit-line line-2 mb-2">Merino to ishite</p>
                                    <h5 class="currency">870000</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-4 col-sm-6">
                            <div class="featured__item specific__product" data-id="1">
                                <div class="featured__item__pic">
                                    <img src="img/featured/feature-1.jpg" class="image" alt="">
                                    <ul class="featured__item__pic__hover">
                                        <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span></li>
                                        <li><span class="add__to__cart"><i class="fa fa-shopping-cart"></i></span></li>
                                    </ul>
                                </div>
                                <a href="/detail" class="featured__item__text p-3">
                                    <p class="limit-line line-2 mb-2">Merino to ishite am sf sf sewr not fum with
                                        antohoder</p>
                                    <h5 class="currency">870000</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Best seller Section End -->

            <!-- Sale timer -->
            <section class="dealing spad">
                <div class="container">
                    <div class="row dealing-background rounded-3 overflow-hidden">
                        <div class="col-md-7 p-0">
                            <img src="https://i.pinimg.com/originals/fa/45/96/fa4596ad9a9d39901eeb455ed4f74e44.jpg"
                                class="img-fluid image dealing-image" alt="">
                        </div>
                        <div class="col-md-5 p-4">
                            <div class="text-center">
                                <h3 class="mb-3">Deal of the Week</h3>
                            </div>
                            <div id="timer" class="d-flex flex-wrap justify-content-center gap-3 mb-4 w-100">
                                <div class="dealing-time text-center" id="days"></div>
                                <div class="dealing-time text-center" id="hours"></div>
                                <div class="dealing-time text-center" id="minutes"></div>
                                <div class="dealing-time text-center" id="seconds"></div>
                            </div>
                            <div class="text-deal">
                                <p class="dealing-title limit-line line-2">Nike Free RN 2019 Brandnew</h2>
                                <p class="dealing-price">Price: <span class="dealing-price currency">800000</span></p>
                                <a href="/detail"
                                    class="my-button button-hover-shake hover-color-primary rounded-pill mt-2">View
                                    now</a>
                                <div class="d-none dealing-list">
                                    <img src="https://i.pinimg.com/originals/fa/45/96/fa4596ad9a9d39901eeb455ed4f74e44.jpg"
                                        alt="" data-price="800000" data-title="Nike Free RN 2019 Brandnew">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-8yk_i-pW7aYYyN8KB3iTpvLvFkwJEsmF2g&usqp=CAU"
                                        alt="" data-price="700000" data-title="Lorem is sperent los ti ageles in chida">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLb9BosDLOBHj5KUy_1ooQ5ZPmNPoGpXyvA&usqp=CAU"
                                        alt="" data-price="600000" data-title="Nike shoe in 2021 feature">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End sale timer -->

            <!-- Latest Product Section Begin -->
            <section class="latest-product spad">
                <div class="container">
                    <div class="product__lastest">
                        <div class="section-title">
                            <h2>Latest Product</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div class="cols mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-1.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">Merino to ishite</p>
                                            <h5 class="currency">300000</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-4.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">Merino to ishite am sf sf sewr not fum
                                                with antohoder</p>
                                            <h5 class="currency">870000</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-3.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">Merino to ishite am sf sf sewr not fum
                                                with antohode sdf sd sdf sdff sf sdf sdf sdfsd sdf sd sd sdfssdfs r</p>
                                            <h5 class="currency">90000</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-2.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">Merino to ishite am sf sf sewr not fum
                                                with antohoder</p>
                                            <h5 class="currency">330000</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="cols mlr05 pt-2 pb-2">
                                    <div class="featured__item specific__product" data-id="1">
                                        <div class="featured__item__pic">
                                            <img src="img/featured/feature-3.jpg" class="image" alt="">
                                            <ul class="featured__item__pic__hover">
                                                <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span>
                                                </li>
                                                <li><span class="add__to__cart"><i
                                                            class="fa fa-shopping-cart"></i></span></li>
                                            </ul>
                                        </div>
                                        <a href="/detail" class="featured__item__text p-3">
                                            <p class="limit-line line-2 mb-2">Merino to ishite am sf sf sewr not fum
                                                with antohoder</p>
                                            <h5 class="currency">330000</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Latest Product Section End -->


            <!-- Contact Section Begin -->
            <!-- Text reveal on scroll -->
            <div class="pt-5 container">
                <div class="section-title">
                    <h2>Our store</h2>
                </div>
                <section class="scroll-reveal w-75 m-auto">
                    <h2 class="scroll__reveal-title"></h2>
                    <p>
                        <span>
                            Discover a curated collection of footwear that blends style, comfort, and individuality. We
                            pride ourselves on providing a personalized shopping experience, ensuring each pair reflects
                            your distinct taste and personality.
                        </span>
                    </p>
                </section>
            </div>
            <!-- End text reveal on scroll -->
            <section class="pt-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                            <div class="contact__widget">
                                <span class="icon_phone"></span>
                                <h4><i class="fa-solid fa-truck-fast"></i> Delivery</h4>
                                <p>Home delivery service</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                            <div class="contact__widget">
                                <span class="icon_pin_alt"></span>
                                <h4><i class="fa-regular fa-thumbs-up"></i> Service</h4>
                                <p>Warranty for up to 12 months</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                            <div class="contact__widget">
                                <span class="icon_clock_alt"></span>
                                <h4><i class="fa-regular fa-clock"></i> Open time</h4>
                                <p>7:00 am to 23:00 pm</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                            <div class="contact__widget">
                                <span class="icon_mail_alt"></span>
                                <h4><i class="fa-solid fa-headphones"></i> Customer care</h4>
                                <p>Friendly, dedicated and professional</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact Section End -->


            <!-- Footer Section -->
            <%- include('./partials/footer'); -%>
                <!-- Footer Section End -->

                <!-- Js Plugins -->
                <%- include('./partials/scripts'); -%>
                    <script src="/public/client/js/home.js"></script>
                    <!-- Js Plugins End -->

</body>

</html>