<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shoe store - Invoice</title>
    <%- include('./partials/head'); -%>
</head>

<body>
    <%- include('./partials/nav'); -%>
        <%- include('./partials/preloader'); -%>

            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumb__text">
                                <h2>Order detail</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Section End -->

            <div id="toast__container"></div>

            <div class="tracking mt-3">
                <div class="container padding-bottom-3x mb-1">
                    <div class="card mb-3">
                        <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span
                                class="text-uppercase">Tracking Order
                                No - </span><span class="text-medium">34VB5540K83</span></div>
                        <div class="d-flex justify-content-between py-3 px-2">
                            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Shipped Via:</span> UPS
                                Ground</div>
                            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Status:</span> Checking
                                Quality</div>
                            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Expected Date:</span> <%=expected_date%></div>
                        </div>
                        <div class="card-body">
                            <div class="steps d-flex flex-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                                <!-- Thêm completed nếu giai đoạn đó completed -->
                                <div class="step completed">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                                    </div>
                                    <h4 class="step-title">Confirmed Order</h4>
                                </div>
                                <div class="step completed">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="fa-solid fa-box"></i></div>
                                    </div>
                                    <h4 class="step-title">Processing Order</h4>
                                </div>
                                <div class="step completed">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="fa-solid fa-check"></i></div>
                                    </div>
                                    <h4 class="step-title">Check & Dispatched</h4>
                                </div>
                                <div class="step">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="fa-solid fa-truck-fast"></i></div>
                                    </div>
                                    <h4 class="step-title">Delivering</h4>
                                </div>
                                <div class="step">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="fa-solid fa-home"></i></div>
                                    </div>
                                    <h4 class="step-title">Product Delivered</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="d-flex flex-nowrap justify-content-around align-items-center">
                        <button class="my-button button-hover-fadeIn rounded-4 button-responsive" id="cancel-order">Cancel order</button>
                        <button class="my-button button-hover-shake hover-color-primary rounded-4 button-responsive" id="confirm-order">Received order</button>
                    </div>
                <hr>    
                </div> 
            </div>

            <!-- Invoice Begin -->
            <div class="invoice mt-3">
                <div class="container mb-5 mt-3 card-invoice bg-white">
                    <div class="container">
                        <div class="row row-gap-3">
                            <div class="col-xl-8">
                                <ul class="list-unstyled">
                                    <li class="text-muted mt-2"><i class="fa-solid fa-user me-2"></i><span
                                            class="fw-bold me-3">Name:
                                        </span><span class="customer-name"><%= user.username%></span></li>
                                    <li class="text-muted mt-2"><i class="fa-solid fa-address-book me-2"></i><span
                                            class="fw-bold me-3">Adress: </span> <%= address?.address ? address.address : 'HCMUS, Linh Trung, Thu Duc'%></li>
                                    <li class="text-muted mt-2"><i class="fas fa-phone me-2"></i><span
                                            class="fw-bold me-3">Phone:
                                        </span><%= address?.phone ? address.phone : '123456789'%> </li>
                                </ul>
                            </div>
                            <div class="col-xl-4">
                                <ul class="list-unstyled">
                                    <li class="text-muted mt-2">
                                        <span class="fw-bold me-2">Invoice id: </span> <%= order.id %>
                                    </li>

                                    <li class="text-muted mt-2">
                                        <span class="fw-bold me-2">Creation Date: </span><%= order.created_at %>
                                    </li>
                                    <li class="text-muted mt-2"> <span class="me-1 fw-bold me-2">Status: </span><span
                                            class="badge bg-warning text-black fw-bold">
                                            Paid</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row my-2 mx-1 justify-content-center">
                            <table
                                class="table table-bordered shoping__cart__table text-center shopping__cart__table rounded-3">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Product info</th>
                                        <th width="15%">Price</th>
                                        <th width="7%">Quantity</th>
                                        <th width="15%">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="shopping__cart__list">
                                    <% orderLines.forEach((orderLine, idx) => { %>
                                        <tr class="shopping__cart__item">
                                            <td><%= idx + 1 %></td>
                                            <td class="shopping__cart__info d-flex">
                                                <img class="image" src="<%= orderLine.product.image %>" alt="">
                                                <div
                                                    class="shopping__cart__text d-flex justify-content-between flex-column mlr05">
                                                    <a href="/detail?id=<%= orderLine.product.id %>" class="hover__primary limit-line line-2"><%= orderLine.product.name %></a>
                                                    <div class="shopping__cart__classify">
                                                        <span>Quantity: <b><%= orderLine.quantity %></b></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="shopping__cart__price">
                                                <span class="color__primary currency"><%= orderLine.product.price %></span>
                                            </td>
                                            <td class="shopping__cart__quantity">
                                                <span><%=orderLine.quantity%></span>
                                            </td>
                                            <td class="shopping__cart__total">
                                                <span class="color__primary currency"><%= orderLine.total%></span>
                                            </td>
                                        </tr>
                                    <% }) %>
                                    
                                    <!-- <tr><td colspan="5" class="text-center"><span>Your cart is empty</span></td></tr> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="row row-gap-3">
                            <div class="col-xl-6 col-sm-12">
                                <div class="border border-2 rounded-4 p-3 h-100">
                                    <h5 class="text-secondary">Note:</h5>
                                    <p class="text-muted">No note to display</p>
                                </div>

                            </div>
                            <div class="col-xl-6 col-sm-12">
                                <div class="card position-sticky top-0 ">
                                    <div class="p-3 bg-light bg-opacity-10">
                                        <h6 class="card-title mb-3">Order Summary</h6>
                                        <!-- <div class="d-flex justify-content-between mb-1 small">
                                            <span>Subtotal</span> <span
                                                class="currency fw-bold text-secondary">750000</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-1 small">
                                            <span>Shipping</span> <span
                                                class="currency fw-bold text-danger">20000</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-1 small">
                                            <span>Voucher discount</span> <span
                                                class="text-success currency reduce fw-bold">50000</span>
                                        </div>
                                        <hr> -->
                                        <div class="d-flex flex-column justify-content-between align-items-center mb-2 small">
                                            <div class="my-2">
                                                <span>TOTAL</span> <strong class="text-dark currency"><%= total %></strong>
                                            </div>
                                            <div class="my-2">
                                                <span>DISCOUNT</span> <strong class="text-dark currency"><%= discount %></strong>
                                            </div>
                                            <div class="my-2">
                                                <span>PAYMENT</span> <strong class="text-dark currency"><%= order.total %></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class=" mb-4 mt-2 text-center"><a href="/shop"
                                class="my-button button-hover-shake hover-color-primary rounded-3">Continue shopping</a></div>

                    </div>
                </div>
            </div>
            <!-- Invoice End -->

            <!-- Footer Section -->
            <%- include('./partials/footer'); -%>
                <!-- Footer Section End -->

                <!-- Js Plugins -->
                <%- include('./partials/scripts'); -%>
                    <!-- Js Plugins End -->

</body>

</html>