<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shoe store - Checkout</title>
    <%- include('./partials/head'); -%>
</head>

<body>
    <%- include('./partials/nav'); -%>
        <%- include('./partials/preloader'); -%>


            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumb__text">
                                <h2>Order history</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Section End -->

            <!-- Checkout Section Begin -->
            <section class="order__section pt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <table
                                class="table table-bordered shoping__cart__table text-center shopping__cart__table rounded-3">
                                <thead>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th>Order info</th>
                                        <th width="15%">Ordered date</th>
                                        <th width="15%">Total</th>
                                        <th width="10%">Status</th>
                                        <th width="10%">View</th>
                                    </tr>
                                </thead>
                                <tbody id="shopping__cart__list">
                                    <% orders.forEach((order, idx) => { %>

                                    <tr class="shopping__cart__item">
                                        <td><%= order.id %></td>
                                        <td>
                                            <% order.orderLines.forEach((orderLine, idx) => { %>
                                            <div class="shopping__cart__info d-flex"><img class="image" src="<%= orderLine.product.image %>" alt="">
                                            <div class="shopping__cart__text d-flex justify-content-between flex-column mlr05">
                                                <a href="/detail?id=<%= orderLine.product.id %>" class="hover__primary limit-line line-2"><%= orderLine.product.name %></a>
                                                <div class="shopping__cart__classify">
                                                    <span>Quantity: <b><%= orderLine.product.quantity %></b></span>
                                                </div>
                                            </div></div>
                                            <% }) %>
                                            
                                        </td>
                                        <td class="shopping__cart__price">
                                            <span class="color__primary"><%= order.created_at.toISOString().replace('T', ' ') %></span>
                                        </td> 
                                        <td class="shopping__cart__total">
                                            <span class="color__primary currency"><%= order.total %></span>
                                        </td>
                                        <td>
                                            <span class="btn text-white bg-<%= order.status === 'cancel' ? 'danger' : ( order.status === 'completed' ? 'success' : 'warning') %>"><%= order.status %></span>
                                        </td>
                                        <td><a class="my-button button-hover-fadeIn rounded-4 button-zoom" href="/invoice/<%= order.id %>">View order</a></td>
                                    </tr> 
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="shoping__cart__btns text-center">
                        <a href="shop" class="my-button button-hover-fadeIn rounded-3 custom-zoom">Continue
                            shopping</a>
                    </div>
                </div>
            </section>
            <!-- Checkout Section End -->
            <script src="../../public/client/js/order.js"></script>

            <!-- Footer Section -->
            <%- include('./partials/footer'); -%>
                <!-- Footer Section End -->

                <!-- Js Plugins -->
                <%- include('./partials/scripts'); -%>
                    <!-- Js Plugins End -->

</body>

</html>