<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shoe store - Shopping</title>
  <%- include('./partials/head'); -%>
</head>

<body>
  <%- include('./partials/nav'); -%>
  <%- include('./partials/preloader'); -%>

  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2>Shopping</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Product Section Begin -->
  <section class="product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-5">
          <div class="sidebar">
            <div class="sidebar__item">
              <div class="hero__categories">
                <div class="hero__categories__all">
                  <i class="fa fa-bars"></i>
                  <span>Categories</span>
                </div>
                <ul>
                  <li><a href="#">Giày thể thao</a></li>
                  <li><a href="#">Giày trẻ em</a></li>
                  <li><a href="#">Giày scandal</a></li>
                  <li><a href="#">Giày bata</a></li>
                  <li><a href="#">Giày cao gót</a></li>
                </ul>
              </div>
            </div>
            <div class="sidebar__item">
              <h4>Price:</h4>
              <div class="sidebar__item__price-wrapper flex-between-center">
                <div class="sidebar__item__price-from">
                  <p>From: </p>
                  <input type="number" name="price-from" id="price-from" min="0" value="0" step="1000">
                </div>
                <div class="sidebar__item__price-to">
                  <p>To: </p>
                  <input type="number" name="price-to" id="price-to" step="1000" min="0">
                </div>
              </div>
            </div>
            <div class="sidebar__item sidebar__item__color--option">
              <h4>Brand</h4>
              <div class="sidebar__item__color sidebar__item__color--white">
                <label for="white">
                  White
                  <input type="radio" id="white">
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--gray">
                <label for="gray">
                  Gray
                  <input type="radio" id="gray">
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--red">
                <label for="red">
                  Red
                  <input type="radio" id="red">
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--black">
                <label for="black">
                  Black
                  <input type="radio" id="black">
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--blue">
                <label for="blue">
                  Blue
                  <input type="radio" id="blue">
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--green">
                <label for="green">
                  Green
                  <input type="radio" id="green">
                </label>
              </div>
            </div>
            <div class="sidebar__item">
              <h4>Popular Size</h4>
              <div class="sidebar__item__size">
                <label class="pt-2 pb-2">XL</label>
              </div>
              <div class="sidebar__item__size">
                <label class="pt-2 pb-2">L</label>
              </div>
              <div class="sidebar__item__size">
                <label class="pt-2 pb-2">M</label>
              </div>
              <div class="sidebar__item__size">
                <label class="pt-2 pb-2">S</label>
              </div>
            </div>  
          </div>
        </div>
        <div class="col-lg-9 col-md-7">
          <div class="filter__item pt-2 pb-2">
            <div class="row">
              <div class="col-lg-4 col-md-5">
                <div class="filter__sort">
                  <span>Sort By</span>
                  <select>
                    <option value="1">Related</option>
                    <option value="2">Latest</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-5">
                <div class="filter__sort">
                  <span>Sort By</span>
                  <select>
                    <option value="3">Price descrement</option>
                    <option value="4">Price increment</option>
                  </select>
                </div>
              </div> 
            </div>
          </div>
          <div class="row row-gap-4">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="featured__item">
                <div class="featured__item__pic">
                  <img src="img/featured/feature-1.jpg" class="image" alt="">
                  <ul class="featured__item__pic__hover">
                    <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span></li>
                    <li><span class="add__to__cart"><i class="fa fa-shopping-cart"></i></span></li>
                  </ul>
                </div>
                <a href="details.html" class="featured__item__text p-3">
                  <p class="limit-line line-2 mb-2">Merino to ishite</p>
                  <h5 class="currency">300000</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="featured__item">
                <div class="featured__item__pic">
                  <img src="img/featured/feature-1.jpg" class="image" alt="">
                  <ul class="featured__item__pic__hover">
                    <li><span class="add__to__favourite"><i class="fa fa-heart"></i></span></li>
                    <li><span class="add__to__cart"><i class="fa fa-shopping-cart"></i></span></li>
                  </ul>
                </div>
                <a href="details.html" class="featured__item__text p-3">
                  <p class="limit-line line-2 mb-2">Merino to ishite</p>
                  <h5 class="currency">300000</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="product__pagination pt-4 pb-4 text-center">
            <a href="#" class="product__pagination__link disabled"><i class="fa-solid fa-long-arrow-left"></i></a>
            <a href="#" class="product__pagination__link active">1</a>
            <a href="#" class="product__pagination__link">2</a>
            <a href="#" class="product__pagination__link">3</a>
            <a href="#" class="product__pagination__link"><i class="fa-solid fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Section End -->

   <!-- Footer Section -->
   <%- include('./partials/footer'); -%>
   <!-- Footer Section End -->
 
   <!-- Js Plugins -->
   <%- include('./partials/scripts'); -%>
   <script src="/public/client/js/shop.js"></script>
   <!-- Js Plugins End -->
</body>

</html>