<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shoe store - Voucher</title>
  <%- include('./partials/head'); -%>
</head>

<body>
  <%- include('./partials/nav'); -%>
    <%- include('./partials/preloader'); -%>


      <!-- Breadcrumb Section Begin -->
      <section class="breadcrumb-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                <h2>Voucher</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Breadcrumb Section End -->

      <!-- Banner freeship Begin -->
      <section class="discount__banner mt-2">
        <div class="container">
          <div class="discount__wrapper">
            <div class="discount__image">
              <img src="https://down-vn.img.susercontent.com/file/vn-50009109-426b5e02d0c955511be59c8774321647" alt=""
                class="image rounded-3">
            </div>
            <div class="discount__offers">

            </div>
          </div>
        </div>
      </section>
      <!-- Banner freeship End -->

      <!-- Banner freeship Begin -->
      <section class="freeship__voucher spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h2>Freeship voucher</h2>
              </div>
            </div>
          </div>
          <div class="row row-gap-4">
            <div class="col-lg-6 col-md-6">
              <div class="coupon__item d-flex p-2 column-gap-2">
                <div class="w-25">
                  <div class="flex-center-center flex-column background__second rounded-3 h-100">
                    <p class="pt-2 pb-2"><i class="fa-solid fa-truck-fast fs-1 text-white"></i></p>
                    <p class="text-white fw-bold fs-6">Freeship</p>
                  </div>
                </div>
                <div class="w-50 d-flex justify-content-between flex-column">
                  <h5>Free ship <span class="text-danger">75%</span></h5>
                  <p class="limit-line line-2">Apply for any product</p>
                  <p class="fs-7">Expire at: 2024-02-01</p>
                </div>
                <div class="w-25">
                  <div class="flex-center-center flex-column gap-2 h-100 border-left">
                    <p class="text-center">Promo code:</p>
                    <span class="my-button button-hover-fadeIn rounded-3 coupon__code custom-zoom">BBB50</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="coupon__item d-flex p-2 column-gap-2">
                <div class="w-25">
                  <div class="flex-center-center flex-column background__second rounded-3 h-100">
                    <p class="pt-2 pb-2"><i class="fa-solid fa-truck-fast fs-1 text-white"></i></p>
                    <p class="text-white fw-bold fs-6">Freeship</p>
                  </div>
                </div>
                <div class="w-50 d-flex justify-content-between flex-column">
                  <h5>Free ship <span class="text-danger">100%</span></h5>
                  <p class="limit-line line-2">Apply for any product</p>
                  <p class="fs-7">Expire at: 2024-02-01</p>
                </div>
                <div class="w-25">
                  <div class="flex-center-center flex-column gap-2 h-100 border-left">
                    <p class="text-center">Promo code:</p>
                    <span class="my-button button-hover-fadeIn rounded-3 coupon__code custom-zoom">AR7Q2</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="coupon__item d-flex p-2 column-gap-2">
                <div class="w-25">
                  <div class="flex-center-center flex-column background__second rounded-3 h-100">
                    <p class="pt-2 pb-2"><i class="fa-solid fa-truck-fast fs-1 text-white"></i></p>
                    <p class="text-white fw-bold fs-6">Freeship</p>
                  </div>
                </div>
                <div class="w-50 d-flex justify-content-between flex-column">
                  <h5>Free ship <span class="text-danger">50%</span></h5>
                  <p class="limit-line line-2">Apply for any product</p>
                  <p class="fs-7">Expire at: 2024-02-01</p>
                </div>
                <div class="w-25">
                  <div class="flex-center-center flex-column gap-2 h-100 border-left">
                    <p class="text-center">Promo code:</p>
                    <span class="my-button button-hover-fadeIn rounded-3 coupon__code custom-zoom">3E24E</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner freeship End -->

      <!-- Banner discount Begin -->
      <section class="discount__coupon spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h2>Discount voucher</h2>
              </div>
            </div>
          </div>
          <div class="discount__wrapper row row-gap-4">
            <div class="col-lg-6 col-md-6">
              <div class="coupon__item d-flex p-2 column-gap-2">
                <div class="w-25">
                  <div class="flex-center-center flex-column background__primary rounded-3 h-100">
                    <p class="pt-2 pb-2"><i class="fa-solid fa-gift fs-1 text-white"></i></p>
                    <p class="text-white fw-bold fs-6">Discount</p>
                  </div>
                </div>
                <div class="w-50 d-flex justify-content-between flex-column">
                  <h5>Voucher <span class="text-danger">30%</span></h5>
                  <p class="limit-line line-2">Apply for any product</p>
                  <p class="fs-7">Expire at: 2024-02-01</p>
                </div>
                <div class="w-25">
                  <div class="flex-center-center flex-column gap-2 h-100 border-left">
                    <p class="text-center">Promo code:</p>
                    <span class="my-button button-hover-fadeIn rounded-3 coupon__code custom-zoom">M0P8T</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="coupon__item d-flex p-2 column-gap-2">
                <div class="w-25">
                  <div class="flex-center-center flex-column background__primary rounded-3 h-100">
                    <p class="pt-2 pb-2"><i class="fa-solid fa-gift fs-1 text-white"></i></p>
                    <p class="text-white fw-bold fs-6">Discount</p>
                  </div>
                </div>
                <div class="w-50 d-flex justify-content-between flex-column">
                  <h5>Voucher <span class="text-danger">15%</span></h5>
                  <p class="limit-line line-2">Apply for any product</p>
                  <p class="fs-7">Expire at: 2024-02-01</p>
                </div>
                <div class="w-25">
                  <div class="flex-center-center flex-column gap-2 h-100 border-left">
                    <p class="text-center">Promo code:</p>
                    <span class="my-button button-hover-fadeIn rounded-3 coupon__code custom-zoom">Z3E9I</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="coupon__item d-flex p-2 column-gap-2">
                <div class="w-25">
                  <div class="flex-center-center flex-column background__primary rounded-3 h-100">
                    <p class="pt-2 pb-2"><i class="fa-solid fa-gift fs-1 text-white"></i></p>
                    <p class="text-white fw-bold fs-6">Discount</p>
                  </div>
                </div>
                <div class="w-50 d-flex justify-content-between flex-column">
                  <h5>Voucher <span class="text-danger">20%</span></h5>
                  <p class="limit-line line-2">Apply for any product</p>
                  <p class="fs-7">Expire at: 2024-02-01</p>
                </div>
                <div class="w-25">
                  <div class="flex-center-center flex-column gap-2 h-100 border-left">
                    <p class="text-center">Promo code:</p>
                    <span class="my-button button-hover-fadeIn rounded-3 coupon__code custom-zoom">T3Z51</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner discount End -->

      <!-- Footer Section -->
      <%- include('./partials/footer'); -%>
        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <%- include('./partials/scripts'); -%>
          <!-- Js Plugins End -->
</body>

</html>