<!-- <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm"> -->
<div style="height: 25rem;">
    <table class="my-table box-shadow-primary text-center  ">
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="45%">Info</th>
                <th>Status</th>
                <th width="25%">Action</th>
            </tr>
        </thead>
        <tbody class="account-list">
            <% users.forEach((user, idx) => { %>
            <tr class="account-item" data-id="<%= user.id %>">
                <td><span><%= user.id %></span></td>
                <td class="flex-start-center column-gap-3 padding-1 mlr-1">
                    <div class="thumb">
                        <img class="avatar size-35" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    </div>
                    <div>
                        <h5 class="text-start"><%= user.username %></h5> 
                        <div class="user-info">
                            <ul class="list-unstyled d-flex flex-wrap-wrap">
                                <li>Account id: 123</li>
                                <li>Balance: <span class="currency">100000</span></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="position-relative">
                    <span class="position-center"><%= user.locked ? 'Banned' : 'Active' %></span>
                </td>
                <td>
                    <div class="flex-center-center column-gap-3 flex-wrap-wrap mt-2">
                        <button class="btn-custom p-0 delete-account text-danger">
                            <span class="material-icons-sharp deleted" data-bs-toggle="modal" data-bs-target="#deleteAccount" data-id="<%= user.id %>">
                                delete </span>
                        </button>
                        <button class="btn-custom p-0 ban-account <%= user.locked ? 'text-success' : 'text-danger' %>">
                            <span class="material-icons-sharp banned" data-bs-toggle="modal" data-bs-target="#banAccount" data-id="<%= user.id %>">
                                block </span>
                        </button>
                    </div>
                </td>
            </tr>
            <% }) %>
    
        </tbody>
    </table>
</div>
<div class="text-center mt-4">
    <ul class="pagination">
        <button data-id="<%= currentPage - 1 %>" class="prev pagination-account page-numbers">Prev</button>
        <% for(let i = 1; i <= totalPages; i++) { %>
            <% if (i === parseInt(currentPage)) { %>
                <span aria-current="page" class="page-numbers active"><%= i %></span>
            <% } else { %>
                <button data-id="<%= i %>" class="pagination-account page-numbers"><%= i %></button>
            <% } %>
        <% } %>
        <button data-id="<%= parseInt(currentPage) === totalPages ? 0 : parseInt(currentPage) + 1 %>" class="next pagination-account page-numbers">Next</button>
    </ul>
</div>